label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}

.formally-label-input {
  display: inline-block;
  color: #363636;
  box-sizing: border-box;
  padding: 8px;
  text-transform: capitalize;
}
.formally-label-select {
  display: inline-block;
  color: #363636;
  box-sizing: border-box;
  padding: 8px;
  text-transform: capitalize;
}
.formally-label-input.f-active {
  font-weight: 700;
  transition: border .2s ease-in-out;
}

.formally-label-input.text {
  display: inline-block;
  color: #363636;
  box-sizing: border-box;
  padding: 8px;
  text-transform: capitalize;
}
.formally-label-textarea {
  display: inline-block;
  color: #363636;
  box-sizing: border-box;
  padding: 8px;
  text-transform: capitalize;
}

.formally-input-text, .formally-input-date, .formally-input-email, .formally-input-password {
  display: block;
  padding: 12px;
  max-width: 600px;
  width: 100%;
  border: 1px solid #ccc;
}

.formally-input-text:hover, .formally-input-date:hover, .formally-input-email:hover, .formally-input-password:hover {
  border: 1px solid #363636;
  transition: all .2s ease-in-out;
}

.formally-input-text.f-active, .formally-input-date.f-active, .formally-input-email.f-active[type="email"], .formally-input-password.f-active[type="password"] {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}

.formally-textarea {
  display: block;
  padding: 12px;
  height: 4em;
  max-width: 600px;
  width: 100%;
  border: 1px solid lightgray;
}

.formally-label-input.text.f-active {
  font-weight: 700;
  transition: border .2s ease-in-out;

}
.formally-label-textarea.f-active {
  font-weight: 700;
  transition: border .2s ease-in-out;
}

.formally-input-text.f-active {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}
.formally-input-date.f-active {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}
.formally-input-email.f-active {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}
.formally-input-password.f-active {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}

.formally-textarea.f-active {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}

.formally-input-text.validate, .formally-input-text.f-active.validate, .formally-input-email.validate[type="email"], .formally-input-email.f-active.validate[type="email"], .formally-input-password.validate[type="password"], .formally-input-password.f-active.validate[type="password"] {
  border: 2px solid #32cd32;
  transition: border .2s ease-in-out;
}

.formally-input-text.f-invalid, .formally-input-email.f-invalid[type="email"], .formally-input-password.f-invalid[type="password"] {
  border: 2px solid red;
  transition: border .2s ease-in-out;
}

/*Below is the CSS for the Select Menu!!!*/

select {
  background-color: transparent;
  background: url(sel-down.png) no-repeat right #fff;
  text-transform: capitalize;
  -webkit-appearance: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #ccc;
  max-width: 600px;
  min-width: 250px;
  display: block;
}

select:focus {
  outline: none;
}

select:hover {
  border: 1px solid #363636;
  outline: none;
  transition: border .2s ease-in-out;
}

.formally-label-input.radio, .formally-label-input.checkbox {
  display: inline-block;
  margin-left: 0;
  color: #363636;
  vertical-align: top;
  line-height: 100%;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
}

formally-input-checkbox {
  display: inline-block;
}
formally-input-radio {
  display: inline-block;
}
.f-helperMessage {
  margin: 0;
  padding: 0;
  font-size: .8em;
}
.formally-input-submit, .formally-input-button, .formally-input-reset {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  overflow: hidden;
  padding: 12px 12px;
  background-color: #2b90d9;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 60ms ease-in-out;
  text-align: center;
  text-transform: capitalize;
  border: 0 none;
  margin-bottom: 10px;
}

.formally-input-reset {
  background-color: gray;
  color: black;
}

.formally-input-submit:hover, .formally-input-button:hover, formally-input-reset:hover {
  transition: all 60ms ease;
  opacity: .85;
}
input[type="radio"] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  background-color: white;
  outline: none;
  border-radius: 100%;
  margin-bottom: 10px;
}

input[type="radio"]:hover {
  border: 1px solid #363636;
  transition: border .2s ease-in-out;
}

input[type="radio"]:checked {
  background: url(circle-1.svg) no-repeat center;
  background-size: 18px 18px;
  outline: none;
  border: 1px solid #363636;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  background-color: white;
  outline: none;
  margin-bottom: 10px;
}

input[type="checkbox"]:hover {
  border: 1px solid #363636;
  transition: border .2s ease-in-out;
}

input[type="checkbox"]:checked {
  background: url(x.svg) no-repeat center;
  background-size: 16px 16px;
  outline: none;
  border: 1px solid #363636;
}

@media (max-width: 700px) {
  .formally-input-text, .formally-input-date, .formally-input-email, .formally-input-password {
    width: 85vw;
  }
  .formally-textarea {
    width: 85vw;
  }
}
